* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size:24px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
}

nav li {
  padding: 10px;
}

nav ul {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 25px 20px;
  color: white;
}

header > nav > ul > li {
  display: flex;
  text-align: center;
}

.pic h1{
  background-image: url("jacks (1).jpg");
  height: 100vh;
  padding-top: 250px;
}

.img1 {
  background-image: url("the-hills.jpg");
  height: 100vh;
}

.info {
  background-color: green;
